In [1]:
import numpy as np
import pandas as pd

import spotipy
from spotipy.oauth2 import SpotifyClientCredentials
import pandas as pd
import time

In [2]:
df = pd.read_csv('wiki_and_spoti_merged.csv')

In [3]:
group_by_group_features = pd.read_csv('final_spotify_df.csv')

In [4]:
group_by_group_features['band_number'] = group_by_group_features.index + 1
group_by_group_features

,Unnamed: 0,Group_name_(wiki),Group_name_(spoti)_x,Spotify_id,Group_popularity,Group_followers,Group_name_(spoti)_y,count_albums,mean_tracks_per_album,total_tracks,...,mean_song_danceability,mean_song_acousticness,mean_song_energy,mean_song_instrumentalness,mean_song_liveness,mean_song_loudness,mean_song_speechiness,mean_song_tempo,song_popularity_range,band_number
0,0,Krokus,Krokus,spotify:artist:4YveAIZNQZBiWbt7iWsvCa,47.0,223115.0,Krokus,20.0,12.200000,244.0,...,0.537900,0.012151,0.727400,0.242673,0.203890,-9.114000,0.036990,116.262300,18.0,1
1,1,London,London Symphony Orchestra,spotify:artist:5yxyJsFanEAuwSM5kOuZKc,75.0,233876.0,London Symphony Orchestra,20.0,15.600000,312.0,...,0.324600,0.688700,0.261060,0.560363,0.108330,-16.334200,0.048500,102.366100,14.0,2
2,2,Thor,Thor,spotify:artist:4DLElWKADc3A99XmSXwCMj,25.0,6157.0,Thor,20.0,15.400000,308.0,...,0.385100,0.079551,0.817000,0.552770,0.209140,-7.424900,0.058660,129.250500,14.0,3
3,3,Angel Witch,Angel Witch,spotify:artist:6L48AOtGmQL1ELLoKML7cS,36.0,64856.0,Angel Witch,17.0,17.000000,289.0,...,0.287600,0.000659,0.760100,0.112230,0.262060,-10.866500,0.073670,135.138000,29.0,4
4,4,Ministry,Ministry,spotify:artist:1DXylZlWbVvlckNqwvjTEt,54.0,381254.0,Ministry,20.0,16.600000,332.0,...,0.566800,0.000074,0.889000,0.352359,0.333620,-6.733200,0.055430,130.699400,12.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018,2018,Pain,Pain,spotify:artist:0hGpZy6ws8FofByMkt0CV1,54.0,130773.0,Pain,20.0,9.100000,182.0,...,0.490600,0.000643,0.892300,0.149308,0.204140,-5.646500,0.046550,118.013800,27.0,2019
2019,2019,Negură Bunget,Negură Bunget,spotify:artist:6wLgoPmccgFkKpjPYvJqtM,25.0,24615.0,Negură Bunget,18.0,6.388889,115.0,...,0.249000,0.049732,0.530160,0.858400,0.132770,-8.508900,0.049640,114.656400,6.0,2020
2020,2020,Leaders,Leaders,spotify:artist:4TRMjWJUsQOmloTxPClNYd,6.0,2104.0,Leaders,11.0,52.272727,575.0,...,0.382100,0.132440,0.883700,0.052046,0.260210,-5.842000,0.166520,142.581900,5.0,2021
2021,2021,Horde,Horde,spotify:artist:1ciWvybnjvy0LCAvyWFxmm,11.0,5088.0,Horde,3.0,11.666667,35.0,...,0.235500,0.105452,0.904870,0.765700,0.303690,-8.779800,0.110490,107.702100,10.0,2022
2022,2022,Blue Stahli,Blue Stahli,spotify:artist:4DWnSG0RYPAds8EIKY26q3,54.0,139162.0,Blue Stahli,20.0,9.200000,184.0,...,0.469636,0.001608,0.917273,0.160000,0.324818,-5.201727,0.091582,127.885182,17.0,2023

### Assign band number to each band

In [5]:
bands_number_mapping = group_by_group_features[['Group_name_(wiki)', 'band_number']]
bands_number_mapping

     Group_name_(wiki)  band_number
0               Krokus            1
1               London            2
2                 Thor            3
3          Angel Witch            4
4             Ministry            5
...                ...          ...
2018              Pain         2019
2019     Negură Bunget         2020
2020           Leaders         2021
2021             Horde         2022
2022       Blue Stahli         2023

[2023 rows x 2 columns]

In [6]:
df = df.merge(bands_number_mapping, how='left', on='Group_name_(wiki)')
df.head(5)

,Unnamed: 0,genre,member,attr,band,years active,origin,band_no_parantheses,Group_name_(wiki),Group_name_(spoti)_x,...,mean_song_acousticness,mean_song_energy,mean_song_instrumentalness,mean_song_liveness,mean_song_loudness,mean_song_speechiness,mean_song_tempo,song_popularity_range,unwanted_member,band_number
0,0,/wiki/List_of_Christian_metal_bands,Angelika Korszyńska-Górny,current,"2Tm2,3",1996–present,Poland,"2Tm2,3","2Tm2,3","2TM2,3",...,0.122266,0.803,0.23076,0.21861,-9.7403,0.06528,143.5114,7.0,False,470
1,1,/wiki/List_of_Christian_metal_bands,Tomasz Budzyński,current,"2Tm2,3",1996–present,Poland,"2Tm2,3","2Tm2,3","2TM2,3",...,0.122266,0.803,0.23076,0.21861,-9.7403,0.06528,143.5114,7.0,False,470
2,2,/wiki/List_of_Christian_metal_bands,Mateusz Pospieszalski,current,"2Tm2,3",1996–present,Poland,"2Tm2,3","2Tm2,3","2TM2,3",...,0.122266,0.803,0.23076,0.21861,-9.7403,0.06528,143.5114,7.0,False,470
3,3,/wiki/List_of_Christian_metal_bands,Marcin Pospieszalski,current,"2Tm2,3",1996–present,Poland,"2Tm2,3","2Tm2,3","2TM2,3",...,0.122266,0.803,0.23076,0.21861,-9.7403,0.06528,143.5114,7.0,False,470
4,4,/wiki/List_of_Christian_metal_bands,Dariusz Malejonek,current,"2Tm2,3",1996–present,Poland,"2Tm2,3","2Tm2,3","2TM2,3",...,0.122266,0.803,0.23076,0.21861,-9.7403,0.06528,143.5114,7.0,False,470

In [7]:
df_subset = df[['Group_name_(wiki)','genre', 'attr' , 'origin']].drop_duplicates()
df_subset = df_subset.groupby('Group_name_(wiki)').head(1)
df_subset

,Group_name_(wiki),genre,attr,origin
0,"2Tm2,3",/wiki/List_of_Christian_metal_bands,current,Poland
12,3rd Root,/wiki/List_of_Christian_metal_bands,past,"San Diego, California, United States[1]"
16,7 Angels 7 Plagues,/wiki/List_of_Christian_metal_bands,past,"Milwaukee, Wisconsin"
23,7 Horns 7 Eyes,/wiki/List_of_Christian_metal_bands,current,"Seattle, Washington"
32,12 Stones,/wiki/List_of_Christian_metal_bands,current,"Mandeville, Louisiana, U.S."
...,...,...,...,...
19391,Vicious Rumors,early,current,"San Francisco Bay Area, California, United States"
19453,Warpig,early,current,"Woodstock, Ontario, Canada"
19457,White Sister,early,past,"Burbank, California"
19476,Wild Dogs,early,current,"Portland, Oregon"
19529,Wrathchild America,early,past,"Martinsburg, West Virginia, U.S."

In [8]:
df_subset['origin_clean'] = list(map(lambda x: str(x).split(',')[len(str(x).split(','))-1], 
                               df_subset['origin']))
df_subset['origin_clean'] = np.where(df_subset['origin_clean']==' United States', ' U.S.', df_subset['origin_clean'])

In [9]:
group_by_group_features.shape

(2023, 27)

In [10]:
group_by_group_features = group_by_group_features.merge(df_subset, how='left', on='Group_name_(wiki)')
group_by_group_features.shape

(2023, 31)

In [11]:
group_by_group_features = group_by_group_features.fillna(0)
group_by_group_features.to_csv('group_features_with_numbered_groups.csv')

### Iterate through each artist, see if he belongs to different groups

In [12]:
# Count of different groups per artist
moved_artists = pd.DataFrame([df.member.value_counts().index, df.member.value_counts().values]).T
moved_artists = moved_artists.rename({0: 'member', 1: 'count'}, axis='columns')

# subset of artists who have belonged to multiple groups
mult_group_artists = moved_artists[moved_artists['count']>1]
mult_group_artists

                member count
0        Ricky Squires    11
1       Dave Megginson     8
2         Paul Mendham     8
3          Simon Saxby     8
4         Paul Conyers     8
...                ...   ...
2319  Kurdt Vanderhoof     2
2320       Gary Borden     2
2321   David Coverdale     2
2322      Dave Lindley     2
2323      Graham Cowen     2

[2324 rows x 2 columns]

In [13]:
all_groups = []

# Identify all group connections
for one_member in mult_group_artists.member:
    
    # Zoom in on all groups for one member
    subset = df[df['member'] == one_member]
    
    # Find the group numbers for this artist
    groups = list(subset.band_number.value_counts().index)
    groups.sort()
    groups
    
    for i in range(0, len(groups)):
        for j in range(i+1, (len(groups))):
            # print(str(groups[i]) + '-' + str(groups[j]))
            all_groups.append(str(groups[i]) + '-' + str(groups[j]))

In [14]:
group_pairs_df = pd.DataFrame(all_groups, columns = ['group_pairs'])
pair = group_pairs_df.group_pairs.value_counts().index 
count_connections = group_pairs_df.group_pairs.value_counts().values

group_pairs = pd.DataFrame([pair, count_connections]).T
group_pairs = group_pairs.rename({0: 'groups', 1: 'count_connections'}, axis='columns')
group_pairs

        groups count_connections
0       82-370                24
1     475-1402                18
2     394-1993                15
3     910-1564                14
4     733-1770                14
...        ...               ...
1565   193-546                 1
1566   302-902                 1
1567  810-1125                 1
1568    5-1295                 1
1569  729-1209                 1

[1570 rows x 2 columns]

In [15]:
group_pairs['groups'][0]

'82-370'

In [16]:
group_pairs['groups'] = group_pairs['groups'].astype(str)
group_pairs['group_1'] = list(map(lambda x: int(x.split('-')[0]), group_pairs['groups']))
group_pairs['group_2'] = list(map(lambda x: int(x.split('-')[1]), group_pairs['groups']))

In [17]:
group_pairs_final = group_pairs[['group_1', 'group_2']]
group_pairs_final

      group_1  group_2
0          82      370
1         475     1402
2         394     1993
3         910     1564
4         733     1770
...       ...      ...
1565      193      546
1566      302      902
1567      810     1125
1568        5     1295
1569      729     1209

[1570 rows x 2 columns]

### Demonstration

6 common band members among these 2

In [18]:
members_band_1 = df[df['band_number']==82].member

In [19]:
members_band_2 = df[df['band_number']==370].member

In [20]:
set(members_band_1).intersection(members_band_2)

{' Adrian Jenkinson',
 ' Amir Neubach',
 ' Beny Cohen',
 ' Danny Mondani',
 ' Dave Megginson',
 ' Francis Gill',
 ' Giora Hirsch',
 ' Lior Mizrachi',
 ' Mark Allison',
 ' Michael Goldstein',
 ' Nir Gutraiman',
 ' Nir Nakav',
 ' Oded Shahar',
 ' Ollie Davis',
 ' Paul Conyers',
 ' Paul Macnamara',
 ' Paul Mendham',
 ' Ricky Squires',
 ' Yair Benjy',
 ' Yossi Mankovizki',
 'Beny Robinov',
 'Paul Tognola',
 'Simon Saxby',
 "Ze'ev Tananboim"}

### Save as pd

In [21]:
group_pairs_final.to_csv('group_pairs.csv', index=False)

In [22]:
group_by_group_features.attr.value_counts()

current    1627
past        394
0             2
Name: attr, dtype: int64

In [23]:
group_popularity = group_by_group_features['Group_popularity']
group_popularity.to_csv('group_popularity.csv', index=False)